/* TITLE BANNER */
.pg-title {
  background-color: rgb(234, 224, 245);
  margin: -10px;
  padding: 0px 20px 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* BACKGROUND IMAGE */
main {
  background-image: url(./images/canvas.jpg);
  background-size: cover;
  background-attachment: fixed;
  margin: 0px -10px 0px -10px;
}

#opener {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: 5%;
}

#nao-pic {
  display: flex;
  width: fit-content;
  height: fit-content;
}

/* PIC OF NAOMI */
.naomi {
  border-radius: 10%;
  border: 3px solid violet;
  width: 80%;
  height: 80%;
}

#bio {
  text-align: left;
  background-color: rgb(251, 242, 231);
  border: 3px groove grey;
  padding: 2%;
  width: 115%;
}

/* FIRST TWO LOGOS */
.logo {
  border-radius: 50%;
}

.logo:hover {
  background-color: whitesmoke;
}

/* GENERAL TEXT PROPERTIES */
h1 {
  font-size: 42px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

h2 {
  font-size: 26px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

h3 {
  font-size: 28px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

h4 {
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

p {
  font-size: 18px;
  font-family: "Inter", sans-serif;
  line-height: 1.7;
  font-weight: 200;
}

/* HORIZONTAL LINES */

hr {
  width: 50%;
  height: 1px;
  background: rgb(209, 196, 152);
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

/* Law to WebDev */
.how-title {
  text-align: center;
  background-color: rgb(234, 224, 245);
  padding: 1.5%;
  margin-left: -10px;
  margin-right: -10px;
}

.how-title a {
  text-decoration: none;
}

/* CONTAINER PROPERTIES */

#content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url(./images/canvas.jpg);
  background-size: cover;
  background-attachment: fixed;
  margin-left: -10px;
  margin-right: -10px;
  padding: 2%;
}

#desc {
  text-align: center;
  background-color: rgb(251, 242, 231);
  height: fit-content;
  width: 60%;
  margin: 5%;
  border: 3px groove grey;
  padding: 2%;
}

#book-img {
  order: 2;
  background-color: rgb(251, 242, 231);
  height: fit-content;
  width: fit-content;
  border: 3px groove grey;
  margin-top: 50px;
  padding: 1%;
}

#carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#carousel #carousel-img {
  border: 3px groove grey;
  width: 450px;
  height: 450px;
  padding: 40px;
  background-color: rgb(251, 242, 231);
}

#controls {
  display: flex;
  width: fit-content;
}

#controls button {
  font-size: 50px;
  border: none;
  background-color: transparent;
}

#cert {
  width: 40%;
  height: 40%;
  border: 4px groove grey;
  border-radius: 1px;
}

/* FOOTER PROPERTIES */
footer {
  background-color: rgb(194, 183, 207);
  font-family: "Courier";
  text-align: center;
  padding: 10px;
  margin-left: -10px;
  margin-right: -10px;
}

/* RESPONSIVENESS
@media screen and (max-width: 600px) {
  .pg-title {
    background-color: rgb(234, 224, 245);
    margin: -10px;
    padding: 0px 20px 5px 20px;
    display: flex;
    justify-content: space-between;
  } */
  
  /* BACKGROUND IMAGE */
  /* main {
    background-color: white;
    margin: 0px -10px 0px -10px;
  } */
  
  /* PIC OF NAOMI */
  /* #nao-pic {
    justify-content: center;
    border: none;
    order: 1;
    width: 70%;
    height: 0%;
    padding: 0;
  }

  img.naomi {
    width: 100%;
    padding: 0;
  } */
  
  /* FIRST TWO LOGOS */
  /* .logo {
    border-radius: 50%;
  }
  
  .logo:hover {
    background-color: whitesmoke;
  } */
  
  /* GENERAL TEXT PROPERTIES */
  /* h1 {
    font-size: 42px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
  }
  
  h2 {
    font-size: 26px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
  }
  
  h3 {
    font-size: 28px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
  }
  
  h4 {
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-weight: 300;
  }
  
  p {
    font-size: 18px;
    font-family: "Inter", sans-serif;
    line-height: 1.7;
    font-weight: 200;
  } */
  
  /* HORIZONTAL LINES */
  
  /* hr {
    width: 50%;
    height: 1px;
    background: rgb(209, 196, 152);
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
  } */
  
  /* Law to WebDev */
  /* .how-title {
    text-align: center;
    background-color: rgb(234, 224, 245);
    padding: 1.5%;
    margin-left: -10px;
    margin-right: -10px;
  }
  
  .how-title a {
    text-decoration: none;
  } */
  
  /* CONTAINER PROPERTIES */
  
  /* #opener {
    display: flex;
    flex-direction: row;
    background-color: white;
  }
  
  #content {
    order: 1;
    display: flex;
    flex-direction: row;
    margin-left: -10px;
    margin-right: -10px;
    padding: 2%;
    border: none;
    background-image: none;
    background-color: white;
    width: 100%;
  }
  
  #desc {
    flex-grow: 1;
    order: 1;
    text-align: center;
    background-color: rgb(251, 242, 231);
    border: none;
    width: 100%;
  }
  
  #book-img {
    order: 1;
    background-color: rgb(251, 242, 231);
    margin: none;
  }
  
  #carousel {
    order: 2;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  
  #carousel #carousel-img {
    order: 2;
    width: 100%;
    height: 100%;
    background-color: rgb(251, 242, 231);
  }
  
  #carousel #left-button {
    font-size: 29px;
    height: fit-content;
    width: fit-content;
    background-color: rgb(212, 205, 214, 0.2);
    border: 0.3px groove grey;
    border-radius: 1px;
  }
  
  #carousel #right-button {
    font-size: 29px;
    height: fit-content;
    width: fit-content;
    background-color: rgb(212, 205, 214, 0.2);
    border: 0.3px groove grey;
    border-radius: 1px;
  }
  
  #cert {
    width: 40%;
    height: 40%;
    border: 4px groove grey;
    border-radius: 1px;
    order: 1; */
  /* } */
  
  /* FOOTER PROPERTIES */
  /* footer {
    background-color: rgb(194, 183, 207);
    font-family: "Courier";
    text-align: center;
    padding: 10px;
    margin-left: -10px;
    margin-right: -10px;
  } */
/* } */